<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><%= link_to "Mastermind", "/"%></h1>
    <% if @player %>
      <div>You are playing as <i><%= @player.name %></i></div>
      <%= form_with url: "/sessions/#{@player.id}", method: :delete, html: { "data-turbo" => false } do |f| %>
        <%= f.submit "Sign out" %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
